<a href="https://colab.research.google.com/github/GhinwaKaikati/Data-Engineer-Ex1/blob/main/Data_Engineer_Ex1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
import pandas as pd

drive.mount('/content/drive')

file_path = '/content/drive/MyDrive/Colab Notebooks/UN ESCWA - Data Engineer/sample_data.csv'

dataset = pd.read_csv(file_path)

Mounted at /content/drive

<ipython-input-2-a15146c9af0d>:8: DtypeWarning: Columns (8,25,30,31,32,33,34,36,37,38,41,42,43,44,45,46,47,48,54,55,57,58,60,62,63,64,65,67,69,70,71,73,74) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(file_path)

In [3]:
dataset

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,Land cover,Mountain Elevation,Cause of death,Illicit Financial Flows,Parliamentary committees,Population Group,Service Attribute,Tariff regime (status),Type of OFDI scheme,Type of speed
0,5,5.3,5.3.1,SP_DYN_MRBF18,Proportion of women aged 20-24 years who were ...,262,Djibouti,2019,6.5,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5,5.3,5.3.2,SH_STA_FGMS,Proportion of girls and women aged 15-49 years...,262,Djibouti,2019,90.1,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,5.3,5.3.1,SP_DYN_MRBF15,Proportion of women aged 20-24 years who were ...,262,Djibouti,2019,1.4,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,5.5,5.5.2,IC_GEN_MGTL,Proportion of women in managerial positions - ...,262,Djibouti,2017,12.31,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,5.5,5.5.1,SG_GEN_PARLN,Number of seats held by women in national parl...,262,Djibouti,2000,0.0,2000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236471,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,818,Egypt,2018,1358.44506,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236472,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,818,Egypt,2019,1235.53411,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236473,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,818,Egypt,2020,572.78896,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236474,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,818,Egypt,2021,638.54274,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236475,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,818,Egypt,2022,1269.04342,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dataset.isnull().sum()

Goal                           0
Target                         0
Indicator                      0
SeriesCode                     0
SeriesDescription              0
                           ...
Population Group          235695
Service Attribute         235924
Tariff regime (status)    236476
Type of OFDI scheme       236386
Type of speed             234457
Length: 75, dtype: int64

In [5]:
dataset.fillna(value = 0, inplace = True)

In [6]:
dataset.isnull().sum()

Goal                      0
Target                    0
Indicator                 0
SeriesCode                0
SeriesDescription         0
                         ..
Population Group          0
Service Attribute         0
Tariff regime (status)    0
Type of OFDI scheme       0
Type of speed             0
Length: 75, dtype: int64

In [7]:
dataset['GeoAreaName'] = dataset['GeoAreaName'].str.rstrip()

In [8]:
dataset.GeoAreaName

0         Djibouti
1         Djibouti
2         Djibouti
3         Djibouti
4         Djibouti
            ...
236471       Egypt
236472       Egypt
236473       Egypt
236474       Egypt
236475       Egypt
Name: GeoAreaName, Length: 236476, dtype: object

In [9]:
from google.colab import drive
import pandas as pd

drive.mount('/content/drive')

file_path = '/content/drive/MyDrive/Colab Notebooks/UN ESCWA - Data Engineer/country_info.xlsx'

country_info = pd.read_excel(file_path)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
print("Dataset columns:", dataset.columns.tolist())
print("Country info columns:", country_info.columns.tolist())

country_info = country_info.rename(columns={'ISO3': 'ISO', 'Arabic Name': 'GeoAreaName_ar'})

dataset = dataset.merge(
    country_info[['Country', 'ISO', 'GeoAreaName_ar']],
    left_on='GeoAreaName',
    right_on='Country',
    how='left'
)

if 'Country' in dataset.columns and 'Country' != 'GeoAreaName':
    dataset = dataset.drop('Country', axis=1)


dataset.to_csv('updated_dataset.csv', index=False)

Dataset columns: ['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription', 'GeoAreaCode', 'GeoAreaName', 'TimePeriod', 'Value', 'Time_Detail', 'TimeCoverage', 'UpperBound', 'LowerBound', 'BasePeriod', 'Source', 'GeoInfoUrl', 'FootNote', 'Age', 'Location', 'Nature', 'Observation Status', 'Reporting Type', 'Sex', 'Units', 'Hazard type', 'Quantile', 'Freq', 'Severity of price levels', 'Type of product', 'Education level', 'Type of skill', 'IHR Capacity', 'Name of non-communicable disease', 'Substance use disorders', 'Type of occupation', 'Activity', 'Deviation Level', 'Level/Status', 'Mode of transportation', 'Type of mobile technology', 'Type of renewable technology', 'Disability status', 'Migratory status', 'Counterpart', 'Fiscal intervention stage', 'Grounds of discrimination', 'Name of international institution', 'Policy Domains', 'Cities', 'Custom Breakdown', 'Level_of_government', 'Type of facilities', 'Report Ordinal', 'Type of support', 'Frequency of Chlorophyll-a concentration', 'Marine Spatial Planning (MSP)', 'Nutrient Loading', 'Sampling Stations', 'Food Waste Sector', 'Government_Name', 'Level of requirement', 'Name of international agreement', 'Policy instruments', 'Type of waste treatment', 'Bioclimatic belt', 'Land cover', 'Mountain Elevation', 'Cause of death', 'Illicit Financial Flows', 'Parliamentary committees', 'Population Group', 'Service Attribute', 'Tariff regime (status)', 'Type of OFDI scheme', 'Type of speed']
Country info columns: ['Country', 'ISO3', 'Arabic Name']

In [11]:
dataset

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,Cause of death,Illicit Financial Flows,Parliamentary committees,Population Group,Service Attribute,Tariff regime (status),Type of OFDI scheme,Type of speed,ISO,GeoAreaName_ar
0,5,5.3,5.3.1,SP_DYN_MRBF18,Proportion of women aged 20-24 years who were ...,262,Djibouti,2019,6.5,2019,...,0,0.0,0,0,0,0.0,0,0,DJI,جيبوتي
1,5,5.3,5.3.2,SH_STA_FGMS,Proportion of girls and women aged 15-49 years...,262,Djibouti,2019,90.1,2019,...,0,0.0,0,0,0,0.0,0,0,DJI,جيبوتي
2,5,5.3,5.3.1,SP_DYN_MRBF15,Proportion of women aged 20-24 years who were ...,262,Djibouti,2019,1.4,2019,...,0,0.0,0,0,0,0.0,0,0,DJI,جيبوتي
3,5,5.5,5.5.2,IC_GEN_MGTL,Proportion of women in managerial positions - ...,262,Djibouti,2017,12.31,2017,...,0,0.0,0,0,0,0.0,0,0,DJI,جيبوتي
4,5,5.5,5.5.1,SG_GEN_PARLN,Number of seats held by women in national parl...,262,Djibouti,2000,0.0,2000,...,0,0.0,0,0,0,0.0,0,0,DJI,جيبوتي
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236471,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,818,Egypt,2018,1358.44506,2018,...,0,0.0,0,0,0,0.0,0,0,EGY,مصر
236472,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,818,Egypt,2019,1235.53411,2019,...,0,0.0,0,0,0,0.0,0,0,EGY,مصر
236473,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,818,Egypt,2020,572.78896,2020,...,0,0.0,0,0,0,0.0,0,0,EGY,مصر
236474,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,818,Egypt,2021,638.54274,2021,...,0,0.0,0,0,0,0.0,0,0,EGY,مصر
236475,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,818,Egypt,2022,1269.04342,2022,...,0,0.0,0,0,0,0.0,0,0,EGY,مصر

In [12]:
unmatched_rows = dataset[dataset['ISO'].isna()].copy()
print(f"Number of rows without matching ISO codes: {len(unmatched_rows)}")
print(f"Original row indices of unmatched rows: {unmatched_rows.index.tolist()}")

Number of rows without matching ISO codes: 6
Original row indices of unmatched rows: [18590, 18591, 18604, 18607, 188701, 188713]

In [13]:
empty_columns = [col for col in dataset.columns if dataset[col].isna().all()]
print(f"Columns with no data: {empty_columns}")

Columns with no data: []

In [14]:
dataset_cleaned = dataset.dropna(axis=1, how='all')

print(f"Original DataFrame had {len(dataset.columns)} columns")
print(f"Cleaned DataFrame has {len(dataset_cleaned.columns)} columns")
print(f"Dropped {len(dataset.columns) - len(dataset_cleaned.columns)} empty columns")

dataset_cleaned.to_json('output_data.json', orient='records')

Original DataFrame had 77 columns
Cleaned DataFrame has 77 columns
Dropped 0 empty columns